.header-style {
  background-color: black;
}

.title-style {
  color: rgb(123, 193, 216);
  text-align: center;
  font-size: 1.8rem;
}

.title-style1 {
  color: rgb(123, 193, 216);
  text-align: left;
  font-size: 1.8rem;
}

.title-style2 {
  color: rgb(123, 193, 216);
  text-align: left;
  font-size: 1.8rem;
}

.title-style3 {
  color: rgb(123, 193, 216);
  text-align: center;
  font-size: 1.8rem;
}

.content-style {
  background-color: black;
  color: white;
}

.texto {
  font-size: 1.5rem;
}

.grande {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.imagen-izquierda {
  width: 400px;
  margin: 10px 10px 10px 0;
}

.imagen-derecha {
  width: 400px;
  margin: 10px 5px 10px 0;
}

.texto-imagen-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tex-con {
  font-size: 1.2rem;
  text-align: left;
}

.tex-con1 {
  font-size: 1.2rem;
  text-align: center;
  max-width: 1100px;
  margin: 0 auto;
}

ion-card {
  width: 80%;
  margin: 0 auto;
  height: 150px;
}

.swiper-container {
  width: 100%;
  height: auto;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.slide-image {
  max-width: 50%;
  max-height: 50%;
}

.equipo-trabajo .swiper-button-prev,
.equipo-trabajo .swiper-button-next {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 630px;
  margin-left: 150px;
  margin-right:150px ;
}
.logo {
  height: 60px;
  border-radius: 10px;
}
.barra{
  --background: black;
}
.texto{
  color: white;
  margin-right: 60px;
  height: auto;
  width: 200px;
}
.usuario{
  height: auto;
  width: 80px;
}
.imagen{
  margin-left: 70px;
  margin-top: 80px;
  filter: drop-shadow(0 2px 4px rgb(227, 8, 8));
  height: auto;
  width: 150px;
}
.lateral{
  --background: rgb(221, 211, 211);
}
.name{
  margin-top: 20px;
  color: black;
  font-size: 19px;
  font-weight: bold;
}
.lista{
  margin-top: 20px;
  --background: rgb(221, 211, 211);
  color: black;
}
ion-icon{
  color: black;
}
.icono{
  color:rgb(0, 187, 255);
  font-size: 40px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.body {
  --background: rgba(123, 123, 123, 0.64);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.logo {
  height: 60px;
  border-radius: 10px;
}
.barra{
  --background: black;
}
.texto2{
  color: white;
  margin-right: 60px;
  height: auto;
  width: 200px;
}
.usuario{
  height: auto;
  width: 80px;
}
.imagen{
  margin-left: 70px;
  margin-top: 80px;
  filter: drop-shadow(0 2px 4px rgb(227, 8, 8));
  height: auto;
  width: 150px;
}
.lateral{
  --background: rgb(221, 211, 211);
}
.name{
  margin-top: 20px;
  color: black;
  font-size: 19px;
  font-weight: bold;
}
.lista{
  margin-top: 20px;
  --background: rgb(221, 211, 211);
  color: black;
}
ion-icon{
  color: black;
}
.icono{
  color:rgb(0, 187, 255);
  font-size: 40px;
}

