<ion-header>
  <ion-toolbar class="barra">
    <div class="header-container">
      <img src="../../assets/logo.png" alt="Logo" class="logo" />
      <ion-segment>
        <ion-segment-button class="usuario" value="cuenta" (click)="abrirBarraLateral()">
          <ion-icon class="icono" name="person"></ion-icon>
        </ion-segment-button>
        <ion-segment-button class="texto" value="inicio" (click)="navigateToHome()">Inicio</ion-segment-button>
        <ion-segment-button class="texto" value="servicios" (click)="navigateToNuestros()">Nuestros Servicios</ion-segment-button>
        <ion-segment-button class="texto" value="acerca" (click)="navigateToNosotros()">Acerca de Nosotros</ion-segment-button>
        <ion-segment-button class="texto" value="contacto" (click)="navigateToContac()">Contáctenos</ion-segment-button>
      </ion-segment>
    </div>
  </ion-toolbar>
  <p class="Dtos">Datos Salud</p>
</ion-header>

<ion-menu side="start" contentId="main-content">
  <ion-content class="lateral">
    <div>
      <ion-avatar class="imagen">
        <img src="../../assets/icon/favicon.png" alt="Imagen de perfil" />
      </ion-avatar>
      <ion-title class="name">Andres Ricardo Parra Salas</ion-title>
    </div>
    <ion-list class="lateral">
      <ion-item class="lista" (click)="navigateToHome()">
        <ion-icon name="home" slot="start"></ion-icon>
        Home
      </ion-item>
      <ion-item class="lista">
        <ion-icon name="stats-chart" slot="start"></ion-icon>
        Alertas Activas
      </ion-item>
      <ion-item class="lista">
        <ion-icon name="person" slot="start"></ion-icon>
        Usuarios
      </ion-item>
      <ion-item class="lista">
        <ion-icon name="heart" slot="start"></ion-icon>
        Historiales
      </ion-item>
      <ion-item class="lista">
        <ion-icon name="settings" slot="start"></ion-icon>
        Configuraciones
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content class="bg-content">

  <ion-title>Datos de Salud</ion-title>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  <ion-grid>
    <ion-row>
      <ion-col>
          <div>
            <ion-row >
              <ion-col size="6" >
                <ion-card (click)="handleCardClick('enfermedades')" >
                  <ion-row>
                    <ion-col class="ion-text-center">
                      <ion-icon src="/assets/icon/paciente.svg" style="font-size: 50px;color: black;"></ion-icon>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="ion-text-center">
                      <ion-text style="color: black; font-size: 20px;font-weight: bold;">Enfermedades</ion-text>
                    </ion-col>
                  </ion-row>
                </ion-card>
              </ion-col>
              <ion-col size="6">
                <ion-card (click)="handleCardClick('alergias')">
                  <ion-row>
                    <ion-col class="ion-text-center">
                      <ion-icon src="/assets/icon/alergia.svg" style="font-size: 50px;color: black;"></ion-icon>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="ion-text-center">
                      <ion-text style="color: black; font-size: 20px;font-weight: bold;">Alergias</ion-text>
                    </ion-col>
                  </ion-row>
                </ion-card>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-card (click)="handleCardClick('medicamentos')">
                  <ion-row>
                    <ion-col class="ion-text-center">
                      <ion-icon src="/assets/icon/medicamento.svg" style="font-size: 50px;color: black;"></ion-icon>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="ion-text-center">
                      <ion-text style="color: black; font-size: 20px;font-weight: bold;">Medicamentos Actuales </ion-text>
                    </ion-col>
                  </ion-row>
                </ion-card>
              </ion-col>
              <ion-col size="6">
                <ion-card (click)="handleCardClick('informacion')">
                  <ion-row>
                    <ion-col class="ion-text-center">
                      <ion-icon src="/assets/icon/informacion-personal.svg" style="font-size: 50px;color: black;"></ion-icon>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="ion-text-center">
                      <ion-text style="color: black; font-size: 20px;font-weight: bold;">Información Adicional</ion-text>
                    </ion-col>
                  </ion-row>
                </ion-card>
              </ion-col>
            </ion-row>
          </div>
      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="mostrarLista && cardClicked === 'enfermedades'" class="lista-derecha">
    <ion-item *ngFor="let campo of enfermedadesCampos">
      <ion-label>{{ campo.nombre }}</ion-label>
      <ion-checkbox end [(ngModel)]="campo.seleccionado"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Otros:</ion-label>
      <ion-input placeholder="Escribir" end></ion-input>
    </ion-item>
    <ion-row class="botones-container">
      <ion-col size="6">
        <ion-button size="small" expand="full" color="dark" (click)="cancelar()" shape="round">Cancelar</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button size="small" expand="full" color="primary" (click)="guardar()" shape="round">Guardar</ion-button>
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="mostrarLista && cardClicked === 'alergias'" class="lista-derecha">
    <ion-item *ngFor="let campo of alergiasCampos">
      <ion-label>{{ campo.nombre }}</ion-label>
      <ion-checkbox end [(ngModel)]="campo.seleccionado"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Otros:</ion-label>
      <ion-input placeholder="Escribir" end></ion-input>
    </ion-item>
    <ion-row class="botones-container">
      <ion-col size="6">
        <ion-button size="small" expand="full" color="dark" (click)="cancelar()" shape="round">Cancelar</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button size="small" expand="full" color="primary" (click)="guardar()" shape="round">Guardar</ion-button>
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="mostrarLista && cardClicked === 'medicamentos'" class="lista-derecha">
    <form>
      <ion-item *ngFor="let campo of medicamentosCampos">
        <ion-label>{{ campo.nombre }}</ion-label>
        <ion-input placeholder="Ingrese Información"></ion-input>
      </ion-item>
    </form>
    <ion-row class="botones-container">
      <ion-col size="6">
        <ion-button size="small" expand="full" color="dark" (click)="cancelar()" shape="round">Cancelar</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button size="small" expand="full" color="primary" (click)="guardar()" shape="round">Guardar</ion-button>
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="mostrarLista && cardClicked === 'informacion'" class="lista-derecha">
    <form>
      <ion-item *ngFor="let campo of informacionCampos">
        <ion-label>{{ campo.nombre }}</ion-label>
        <ion-input placeholder="Ingrese Información"></ion-input>
      </ion-item>
    </form>
    <ion-row class="botones-container">
      <ion-col size="6">
        <ion-button size="small" expand="full" color="dark" (click)="cancelar()" shape="round">Cancelar</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button size="small" expand="full" color="primary" (click)="guardar()" shape="round">Guardar</ion-button>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
