<ion-header>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</ion-header>


<ion-content class="custom-content center-content">
  <div class="container-wrapper">
    <div class="container-form login hide">
      <div class="information">
        <div class="info-childs">
          <h2>¡Bienvenido Nuevamente!</h2>
          <p>Para unirte a nuestra comunidad por favor inicia sesión con tus datos</p>
          <input type="button" value="Registrarse" id="sign-up">
        </div>
      </div>
      <div class="form-information">
        <div class="form-information-childs">
          <h2>Iniciar Sesión en SOSecurity</h2>
          <P></P>
          <p>O usa tu email para registrarte  <a href="#" class="btn-recu" id="sign-recu">Recuperar Contraseña</a>
          </p>
          <form class="form" (ngSubmit)="loginUser()">
            <label>
              <i class='bx bx-envelope'></i>
              <input type="email" placeholder="Correo Electrónico" [(ngModel)]="userData2.email" name="email">
            </label>
            <label>
              <i class='bx bx-lock-alt'></i>
              <input type="password" placeholder="Contraseña"[(ngModel)]="userData2.password" name="password">
            </label>
            <input id="loginButton" type="submit" value="Iniciar Sesión">
          </form>
        </div>
      </div>
    </div>

    <div class="container-form register">
      <div class="information">
        <div class="info-childs">
          <h2>Bienvenido SOSecurity</h2>
          <p>Para unirte a nuestra comunidad por favor diligencia el formulario de registro</p>
          <input type="button" value="Iniciar Sesión" id="sign-in">
        </div>
      </div>
      <div class="form-information">
        <div class="form-information-childs">
          <h2>Crear Cuenta</h2>
          <form class="form" (ngSubmit)="registerUser()">
            <label>
              <i class='bx bx-user'></i>
              <input type="text" placeholder="Nombres Completos" name="nombre" [(ngModel)]="userData.nombre">
            </label>
            <label>
              <i class='bx bx-envelope'></i>
              <input type="email" placeholder="Correo Electrónico" name="email" [(ngModel)]="userData.email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required>
            </label>
            <label>
              <i class='bx bx-lock-alt'></i>
              <input type="password" placeholder="Contraseña" name="password" [(ngModel)]="userData.password">
            </label>
            <input id="registerButton" type="submit" value="Registrarse">
          </form>
        </div>
      </div>
    </div>



    <div class="container-form recu hide">
      <div class="information">
        <div class="info-childs">
          <h2>¡Bienvenido Nuevamente!</h2>
          <p>Para unirte a nuestra comunidad por favor inicia sesión con tus datos</p>
          <input type="button" value="Iniciar Sesión" id="sign-in-recu">
        </div>
      </div>
      <div class="form-information">
        <div class="form-information-childs">
          <h2>Recuperar Contraseña</h2>
          <P></P>
          <p>O iniciar sesión con una cuenta</p>
          <form class="form">
            <label>
              <i class='bx bx-envelope'></i>
              <input [(ngModel)]="userData3.email" name="email" type="email" placeholder="Correo Electrónico">
            </label>
            <input id="recuperarButton" type="submit" value="Recuperar contraseña" (click)="recuperarContrasena()">
          </form>
        </div>
      </div>
    </div>
  </div>
</ion-content>
