.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fondo-container {
  background-image: url('../../assets/fondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.body {
  --background: none;
}

.logo {
  height: 60px;
  border-radius: 10px;
}
.barra{
  --background: black;
}
.texto{
  color: white;
  margin-right: 60px;
  height: auto;
  width: 200px;
}
.usuario{
  height: auto;
  width: 80px;
}
.imagen{
  margin-left: 70px;
  margin-top: 80px;
  filter: drop-shadow(0 2px 4px rgb(227, 8, 8));
  height: auto;
  width: 150px;
}
.lateral{
  --background: rgb(221, 211, 211);
}
.name{
  margin-top: 20px;
  color: black;
  font-size: 19px;
  font-weight: bold;
}
.lista{
  margin-top: 20px;
  --background: rgb(221, 211, 211);
  color: black;
}
ion-icon{
  color: black;
}
.icono{
  color:rgb(0, 187, 255);
  font-size: 40px;
}
.borrar{
  position: absolute;
  top: 95px;
  right: 10px;
  cursor: pointer;
}
.iconB{
  color: red;
  font-size: 30px;
  filter: drop-shadow(2px 2px 1px white);
}
.modificar {
  position: absolute;
  top: 95px;
  right: 60px;
  cursor: pointer;
}

.iconM {
  color: rgb(0, 187, 255);
  font-size: 30px;
  filter: drop-shadow(2px 2px 1px white);
}
.custom-card{
  background: rgba(77, 73, 73, 0.703);
  height: auto;
  width: 500px;
  margin-left: 500px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgb(255, 255, 255);
}
.titulo{
  font-size: 25px;
  text-align: center;
  color: white;
  filter:drop-shadow(2px 2px 2px black);
}
.datos-container {
  display: flex;
  color: white;
}
.datos{
  filter: drop-shadow(2px 2px 2px black);
  font-size: 20px;
  margin-top: -10px;
}
.datos2 {
  margin-left: 30px;
  color: rgb(0, 187, 255);
  font-size: 18px;
  margin-top: -7px;
}
