<ion-header>
  <ion-toolbar class="barra">
    <div class="header-container">
      <img src="../../assets/logo.png" alt="Logo" class="logo" />
      <ion-segment>
        <ion-segment-button class="usuario" value="cuenta" (click)="abrirBarraLateral()">
          <ion-icon  class="icono" name="person"></ion-icon>
        </ion-segment-button>
        <ion-segment-button class="texto" value="inicio" (click)="navigateToHome()">Inicio</ion-segment-button>
        <ion-segment-button class="texto" value="servicios">Nuestros Servicios</ion-segment-button>
        <ion-segment-button class="texto" value="acerca">Acerca de Nosotros</ion-segment-button>
        <ion-segment-button class="texto" value="contacto">Contáctenos</ion-segment-button>
        <ion-segment-button (click)="navigateTocontact()">
          <ion-icon  class="icono" name="settings-outline"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </div>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" contentId="main-content">
  <ion-content class="lateral">
    <div>
      <ion-avatar class="imagen">
        <img src="../../assets/icon/favicon.png" alt="Imagen de perfil" />
      </ion-avatar>
      <ion-title class="name">Andres Ricardo Parra Salas</ion-title>
    </div>
    <ion-list class="lateral">
      <ion-item class="lista" (click)="navigateToHome()">
        <ion-icon name="home" slot="start"></ion-icon>
        Home
      </ion-item>
      <ion-item class="lista">
        <ion-icon name="stats-chart" slot="start"></ion-icon>
        Mis Alertas
      </ion-item>
      <ion-item class="lista">
        <ion-icon name="person" slot="start"></ion-icon>
        Customers
      </ion-item>
      <ion-item class="lista">
        <ion-icon name="heart" slot="start"></ion-icon>
        Datos Salud
      </ion-item>
      <ion-item class="lista">
        <ion-icon name="settings" slot="start"></ion-icon>
        Configuraciones
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content class="body">
  <ion-card class="custom-card">
    <ion-card-header class="titulo">
      Datos del Contacto
    </ion-card-header>

    <ion-card-content class="datos-container">
      <div class="datos">Nombres:</div>
      <div class="datos2">{{ datosRecibidos.nombre }}</div>
    </ion-card-content>
    <ion-card-content class="datos-container">
      <div class="datos">Apellidos:</div>
      <div class="datos2">{{ datosRecibidos.apellidos }}</div>
    </ion-card-content>
    <ion-card-content class="datos-container">
      <div class="datos">Parentezco:</div>
      <div class="datos2">{{ datosRecibidos.parentezco }}</div>
    </ion-card-content>
    <ion-card-content class="datos-container">
      <div class="datos">Número de Celular:</div>
      <div class="datos2">{{ datosRecibidos.numeroCelular }}</div>
    </ion-card-content>
