.title-style {
    color: rgb(123, 193, 216);
    text-align: center;
    font-size: 1.8rem;
  }

  .background-image {
    background-image: url('/assets/icon/Imagen1.jpg'); /* Reemplaza 'ruta/a/tu/imagen.jpg' con la ruta real de tu imagen */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
  }
  /* Estilos para el formulario */
ion-item {
  --ion-label-stacked-padding-start: 0;
  --ion-label-stacked-padding-end: 0;
}

ion-label {
  font-weight: bold;
  font-size: 14px;
  color: black;
  margin-top: -10px;
}
ion-item{
  --background: black;
  border-radius: 10px;
  height: 60px;
  margin-top: 5px;
}
ion-card {
  height: auto; /* Esto permite que la altura de la tarjeta se ajuste automáticamente a su contenido */
  margin: 40px; /* Margen alrededor de la tarjeta */
  padding: 10px; /* Relleno dentro de la tarjeta para separar los elementos */
  border-radius: 20px;
}
.infor{
  font-size: 24px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.Icon {
  font-size: 34px;
  color: white;
}
/* Estilo CSS para los íconos de redes sociales */
.social {
  margin-right: 25px; /* Agrega un margen a la derecha de cada ícono para separarlos */
  font-size: 34px;
  padding: 10px;
  color: white;
}

/* Estilo para el botón "Enviar" */
button {
  background-color:#0056b3; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  padding: 12px 20px; /* Espaciado interno del botón */
  border: none; /* Quitar el borde del botón */
  border-radius: 5px; /* Radio de borde para bordes redondeados */
  cursor: pointer; /* Cambiar el cursor al pasar el mouse */
  float: right;
}

/* Estilo para el botón al pasar el mouse (hover) */
button:hover {
  background-color: #007bff; /* Cambiar el color de fondo al pasar el mouse */
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* Estilo CSS para el mensaje de éxito */
.mensaje-exito {
  background-color: #4CAF50; /* Color de fondo verde (puedes cambiarlo) */
  color: #fff; /* Color de texto blanco */
  padding: 10px;
  text-align: center;
  margin-top: 10px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.body {
  --background: rgba(123, 123, 123, 0.64);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  height: 60px;
  border-radius: 10px;
}
.barra{
  --background: black;
}
.texto{
  color: white;
  margin-right: 60px;
  height: auto;
  width: 200px;
}
.usuario{
  height: auto;
  width: 80px;
}
.imagen{
  margin-left: 70px;
  margin-top: 80px;
  filter: drop-shadow(0 2px 4px rgb(227, 8, 8));
  height: auto;
  width: 150px;
}
.lateral{
  --background: rgb(221, 211, 211);
}
.name{
  margin-top: 20px;
  color: black;
  font-size: 19px;
  font-weight: bold;
}
.lista{
  margin-top: 20px;
  --background: rgb(221, 211, 211);
  color: black;
}
ion-icon{
  color: black;
}
.icono{
  color:rgb(0, 187, 255);
  font-size: 40px;
}
