<ion-header>
  <ion-toolbar class="barra">
    <div class="header-container">
      <img src="../../assets/logo.png" alt="Logo" class="logo" />
      <ion-segment>
        <ion-segment-button class="usuario" value="cuenta" (click)="abrirBarraLateral()">
          <ion-icon class="icono" name="person"></ion-icon>
        </ion-segment-button>
        <ion-segment-button class="texto" value="inicio" (click)="navigateToHome()">Inicio</ion-segment-button>
        <ion-segment-button class="texto" value="servicios" (click)="navigateToNuestros()">Nuestros Servicios</ion-segment-button>
        <ion-segment-button class="texto" value="acerca" (click)="navigateToNosotros()">Acerca de Nosotros</ion-segment-button>
        <ion-segment-button class="texto" value="contacto" (click)="navigateToContac()">Contáctenos</ion-segment-button>
      </ion-segment>
    </div>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" contentId="main-content">
  <ion-content class="lateral">
    <div>
      <ion-avatar class="imagen">
        <img src="../../assets/icon/favicon.png" alt="Imagen de perfil" />
      </ion-avatar>
      <ion-title class="name">Andres Ricardo Parra Salas</ion-title>
    </div>
    <ion-list class="lateral">
      <ion-item class="lista" (click)="navigateToHome()">
        <ion-icon name="home" slot="start"></ion-icon>
        Home
      </ion-item>
      <ion-item class="lista">
        <ion-icon name="stats-chart" slot="start"></ion-icon>
        Alertas Activas
      </ion-item>
      <ion-item class="lista">
        <ion-icon name="person" slot="start"></ion-icon>
        Usuarios
      </ion-item>
      <ion-item class="lista">
        <ion-icon name="heart" slot="start"></ion-icon>
        Historiales
      </ion-item>
      <ion-item class="lista">
        <ion-icon name="settings" slot="start"></ion-icon>
        Configuraciones
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content>
  <div class="background-image">
    <div class="container">
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-md="6">
            <ion-card>
              <ion-card-header class="infor">Información de Contacto</ion-card-header>
              <br>
              <ion-card-content>
                <p><ion-icon class="Icon" name="mail-outline"></ion-icon>   Correo Electrónico: ejemplo@correo.com</p>
                <br>
                <p><ion-icon class="Icon" name="call-outline"></ion-icon>   Teléfono: 23456789</p>
                <br>
                <p>Redes Sociales: </p>
                <br>
                <ion-icon name="logo-facebook" class="social"></ion-icon>
                <ion-icon name="logo-instagram" class="social"></ion-icon>
                <ion-icon name="logo-twitter" class="social"></ion-icon>

              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" size-md="6">
            <ion-card>
              <ion-card-header class="infor">Formulario de Contacto</ion-card-header>
              <ion-card-content>
                <ion-item>
                  <ion-label position="stacked">Nombre</ion-label>
                  <ion-input [(ngModel)]="contact.name" name="name" type="text" required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked">Correo Electrónico</ion-label>
                  <ion-input [(ngModel)]="contact.email" name="email" type="text" required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked">Asunto</ion-label>
                  <ion-input [(ngModel)]="contact.subject" name="subject" type="text" required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked">Mensaje</ion-label>
                  <ion-input [(ngModel)]="contact.message" name="message" type="text" required></ion-input>
                </ion-item>
              </ion-card-content>
              <button (click)="sendMessage()">Enviar</button>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <ion-alert
    header="Éxito"
    message="Formulario enviado exitosamente"
    buttons="[{ text: 'Aceptar', handler: () => (enviadoExitosamente = true) }]">
  </ion-alert>
</ion-content>
