<ion-header [translucent]="true" class="header-style">
  <ion-toolbar class="ion-text-center">
    <ion-title class="title-style">Nuestros Servicios</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-text-center content-style">
  <ion-img src="/assets/icon/principal.png" class="background-image"></ion-img>
  <div class="content-container">
  <br>
  <br> 
    <ion-title class="title-style1">Protegemos tu información</ion-title>
    <div class="parrafos-container">
      <p class="tex-con" id="parrafo-completo">
        Utilizamos tecnologías de cifrado avanzadas y prácticas de seguridad de 
        vanguardia para garantizar que tus datos personales estén resguardados de
        cualquier amenaza o acceso no autorizado. 
      </p>
      <p class="tex-con" id="parrafo-adicional" style="display: none;">
        Tu privacidad es nuestra prioridad, 
        y nos esforzamos por mantener tus datos seguros y confidenciales en todo momento.
        Nuestro equipo de expertos en gestión de datos está comprometido con la confidencialidad y seguridad 
        de tu información. 
      </p>
    </div>
    <button class="ver-mas-button" id="ver-mas" (click)="toggleParrafoAdicional()">Ver más</button>
  </div>

  <div class="nuevo-contenido">
    <br>

    <ion-title class="title-style">Como proporcionamos Nuestros Servicios</ion-title>
    <p>Nos sentimos orgullosos de proporcionar nuestros servicios de manera eficaz, con un alto grado de profesionalismo y 
      una amplia variedad de opciones para satisfacer tus necesidades.</p>
    <ion-card class="horizontal-card">
      <img alt="Silhouette of mountains" src="/assets/icon/eficiente.jpeg" />
      <ion-card-header>
        <ion-card-title>Eficiente </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        En el núcleo de nuestra respuesta de emergencia, se encuentra la eficacia, que orienta nuestra estrategia. 
        Implementamos soluciones dinámicas y altamente operativas que aseguran una reacción inmediata en tiempo real,
         garantizando la salvaguardia óptima de tus recursos digitales en momentos críticos.
      </ion-card-content>
    </ion-card>
    <ion-card class="horizontal-card">
      <img alt="Silhouette of mountains" src="/assets/icon/profesional.jpg" />
      <ion-card-header>
        <ion-card-title>Profesional</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Contamos con un equipo altamente calificado comprometidos en la gestión de emergencias.
         Nuestros profesionales aportan una vasta experiencia y conocimiento para mantener tus datos seguros 
         con un alto grado de profesionalismo y dedicación en situaciones de riesgo.
      </ion-card-content>
    </ion-card>
    <ion-card class="horizontal-card">
      <img alt="Silhouette of mountains" src="/assets/icon/diverso.jpg" />
      <ion-card-header>
        <ion-card-title>Diverso</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Reconocemos la singularidad de cada cliente, por lo que ofrecemos una amplia gama de servicios
         de apoyo para satisfacer tus necesidades específicas. Ya sea que busques protección de datos, 
         respuesta a incidentes o soluciones de seguridad personalizadas, estamos aquí para proporcionarte
          opciones diversas que se adapten a tus requisitos, garantizando la confidencialidad de 
          tus activos.
      </ion-card-content>
    </ion-card>
    <br>

    <ion-title class="title-style">Echa un vistazo los  Servicios que Ofrecemos</ion-title>
    <p>Te invitamos a explorar con detenimiento los servicios que ofrecemos, todos diseñados para atender
       tus necesidades y superar tus expectativas. Te animamos a examinar nuestras soluciones, creadas con 
       el propósito de garantizar tu satisfacción y tranquilidad.</p>

       <ion-card class="horizontal-card">
        <ion-icon name="desktop-outline" class="icon-grande"></ion-icon>
        <ion-card-header>
          <ion-card-title>Botón de Panico</ion-card-title>
        </ion-card-header>
        <ion-card-content>
         Cuando te encuentres en una situación de riesgo, puedes confiar en nuestro Botón de Pánico en Tiempo Real para recibir ayuda 
         de manera inmediata. Basta con pulsarlo y estaremos a su disposición al instante, proporcionándote apoyo necesario en situaciones críticas."
        </ion-card-content>
      </ion-card>

       <ion-card class="horizontal-card">
        <ion-icon name="location-outline" class="icon-grande"></ion-icon>
        <ion-card-header>
          <ion-card-title>Ubicación en tiempo real</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Nuestro servicio de Rastreo de Ubicación en Tiempo Real es fundamental para garantizar una respuesta eficiente.
           Te permitimos compartir tu ubicación en tiempo real, lo que nos permite brindarte ayuda de manera más efectiva.
        </ion-card-content>
      </ion-card>
      
      <ion-card class="horizontal-card">
        <ion-icon name="warning-outline" class="icon-grande"></ion-icon>
        <ion-card-header>
          <ion-card-title>Alertas de Seguridad</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Entendemos que cada situación es única. Por eso, te ofrecemos la flexibilidad de ajustar las alertas de acuerdo con tus necesidades
           y la gravedad de la situación. Te proporcionamos un control total sobre cómo deseas recibir ayuda y atención.
        </ion-card-content>
      </ion-card>
      
      <ion-card class="horizontal-card">
        <ion-icon name="person-add-outline"class="icon-grande"></ion-icon>
        <ion-card-header>
          <ion-card-title>Red de Apoyo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Ofrecemos la posibilidad de configurar una red de apoyo personalizada al agregar contactos de confianza. Esto te permite designar a personas de tu 
          elección que puedan ser contactadas en situaciones de riesgo, brindándote el apoyo de alguien de confianza.
        </ion-card-content>
      </ion-card>

      <ion-card class="horizontal-card">
        <ion-icon name="desktop-outline" class="icon-grande"></ion-icon>
        <ion-card-header>
          <ion-card-title>Respaldo de información</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Ofrecemos la posibilidad de configurar una red de apoyo personalizada al agregar contactos de confianza. Esto te permite designar a personas de tu 
          elección que puedan ser contactadas en situaciones de riesgo, brindándote el apoyo de alguien de confianza.
        </ion-card-content>
      </ion-card>

      <ion-card class="horizontal-card">
        <ion-icon name="shield-outline" class="icon-grande"></ion-icon>
        <ion-card-header>
          <ion-card-title>Sepervición</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Mantenemos una vigilancia constante de la seguridad de sus datos activos. Nuestro equipo de expertos está atento
           a posibles amenazas y desafíos, garantizando una respuesta proactiva y medidas de protección efectivas.
        </ion-card-content>
      </ion-card>

      <br>
      <br>
      <br>
      <ion-title class="title-style">Nuestros Servicios son para Todo tipo de Personas</ion-title>
      <p>Nuestros servicios están diseñados pensando en la diversidad de personas y situaciones. Pueden ser utilizados por una amplia variedad de individuos en diferentes circunstancias.</p>
      <div class="special-content custom-layout">
        <div class="content-container">
            <div class="left-column">
                <img class="small-image" src="/assets/icon/viajeros.jpg" alt="Imagen descriptiva">
            </div>
            <div class="right-column">
                <ion-title class="title-style2">Nuestros Usuarios</ion-title>
                <p>Los viajeros, por ejemplo, pueden hacer uso de nuestra avanzada tecnología de seguimiento y notificaciones de emergencia para fortalecer su bienestar en ubicaciones desconocidas, lo que enriquece su experiencia de viaje. Además, personas de la tercera edad confían en nuestros servicios como una herramienta eficaz para solicitar asistencia en casos de caídas o situaciones médicas críticas, lo que les proporciona una sensación de tranquilidad en su vida diaria. Del mismo modo, profesionales en campos como servicios públicos y construcción pueden aprovechar nuestra capacidad de enviar alertas de emergencia en situaciones de accidentes laborales o entornos laborales desafiantes.</p>
            </div>
        </div>
        <div class="image-container">
            <img class="horizontal-image" src="/assets/icon/TerceraEdad.jpg" alt="Imagen 1">
            <img class="horizontal-image" src="/assets/icon/riesgos.jpg" alt="Imagen 2">
        </div>
    </div>
      
  </div>
</ion-content>
