<ion-header>
  <ion-toolbar class="barra">
    <div class="header-container">
      <img src="../../assets/logo.png" alt="Logo" class="logo"/>
      <ion-segment>
        <ion-segment-button class="usuario" value="cuenta" (click)="abrirBarraLateral()">
          <ion-icon class="icono" name="person"></ion-icon>
        </ion-segment-button>
        <ion-segment-button class="texto" value="inicio" (click)="navigateToHome()">Inicio</ion-segment-button>
        <ion-segment-button class="texto" value="servicios" (click)="navigateToNuestros()">Nuestros Servicios</ion-segment-button>
        <ion-segment-button class="texto" value="acerca" (click)="navigateToNosotros()">Acerca de Nosotros</ion-segment-button>
        <ion-segment-button class="texto" value="contacto" (click)="navigateToContac()">Contáctenos</ion-segment-button>
      </ion-segment>
    </div>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" contentId="main-content">
  <ion-content class="lateral">
    <div>
      <ion-avatar class="imagen">
        <img src="../../assets/icon/favicon.png" alt="Imagen de perfil"/>
      </ion-avatar>
      <ion-title class="name">Andres Ricardo Parra Salas</ion-title>
    </div>
    <ion-list class="lateral">
      <ion-item class="lista" (click)="navigateToHome()">
        <ion-icon name="home" slot="start"></ion-icon>
        Home
      </ion-item>
      <ion-item class="lista">
        <ion-icon name="stats-chart" slot="start"></ion-icon>
        Alertas Activas
      </ion-item>
      <ion-item class="lista">
        <ion-icon name="person" slot="start"></ion-icon>
        Usuarios
      </ion-item>
      <ion-item class="lista">
        <ion-icon name="settings" slot="start"></ion-icon>
        Configuraciones
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content class="body">
  <div *ngIf="vistaOpt">
    <ion-title class="Ttabla">Mis Alertas</ion-title>
    <table>
      <tr>
        <td class="encabezado"><ion-col>Fecha/Hora</ion-col></td>
        <td class="encabezado"><ion-col>Tipo Alerta</ion-col></td>
        <td class="encabezado"><ion-col>Ubicación</ion-col></td>
        <td class="encabezado"><ion-col>Dispositivo</ion-col></td>
      </tr>
      <ng-container *ngFor="let evento of eventos; let i = index">
        <tr>
          <td class="fila"><ion-col>{{ displayLocalTime(evento.fecha) }}</ion-col></td>
          <td class="fila"><ion-col>{{ evento.talerta }}</ion-col></td>
          <td class="fila"><ion-col>{{ evento.ubicacion }}</ion-col></td>
          <td class="fila"><ion-col>{{ evento.dispositivo }}</ion-col></td>
        </tr>
      </ng-container>
    </table>
  </div>
</ion-content>
