.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.body {
  --background: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  height: 60px;
  border-radius: 10px;
}
.barra{
  --background: black;
}
.texto{
  color: white;
  margin-right: 60px;
  height: auto;
  width: 200px;
}
.usuario{
  height: auto;
  width: 80px;
}
.imagen{
  margin-left: 70px;
  margin-top: 80px;
  filter: drop-shadow(0 2px 4px rgb(227, 8, 8));
  height: auto;
  width: 150px;
}
.lateral{
  --background: rgb(221, 211, 211);
}
.name{
  margin-top: 20px;
  color: black;
  font-size: 19px;
  font-weight: bold;
}
.lista{
  margin-top: 20px;
  --background: rgb(221, 211, 211);
  color: black;
}
ion-icon{
  color: black;
}
.icono{
  color:rgb(0, 187, 255);
  font-size: 40px;
}
.historial{
  font-size: 25px;
  margin-top: 20px;
  text-align: right;
  padding: 5px;
  margin-right: 50px;
  border-radius: 20px;
  font-weight: bold;
  filter: drop-shadow(2px 2px 2px rgb(0, 187, 255));
  color: black;
}
.buscar {
  border-radius: 10px;
  background-color: transparent;
  margin-top: -5px;
  width: 390px;
  margin-left: auto;
  margin-right: 50px;
}
.card1 {
  width: 250px;
  height: 110px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: black;
  background: rgba(1, 124, 201, 0.719);
  margin-left: 50px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 1px black;
}
  .icono2 {
    color: black;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .Ttabla{
    text-align: center;
    background: rgb(1, 124, 201);
    border-radius: 10px;
    font-weight: bold;
    margin-right: 35px;
    border: 2px solid black;
    padding: 10px;
    font-size: 27px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  td {
    padding: 15px;
    border: 1.5px solid #ddd;
    width: 240px;
    border-radius: 5px;
  }
  .encabezado{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background: black;
  }
  .fila-gris {
    background-color: gray;
    padding: 8px;
    color: black;
    text-align: left;
  }
  .fila-azul {
    background-color: #3498db9d;
    padding: 8px;
    color: white;
    text-align: left;
  }
  ion-card:hover{
    background-color: rgb(0, 187, 255);
  }
  .selected {
    background-color: rgb(0, 187, 255);
  }
