.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.body {
  --background: rgba(123, 123, 123, 0.64);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  height: 60px;
  border-radius: 10px;
}
.barra{
  --background: black;
}
.texto{
  color: white;
  margin-right: 60px;
  height: auto;
  width: 200px;
}
.usuario{
  height: auto;
  width: 80px;
}
.imagen{
  margin-left: 70px;
  margin-top: 80px;
  filter: drop-shadow(0 2px 4px rgb(227, 8, 8));
  height: auto;
  width: 150px;
}
.lateral{
  --background: rgb(221, 211, 211);
}
.name{
  margin-top: 20px;
  color: black;
  font-size: 19px;
  font-weight: bold;
}
.lista{
  margin-top: 20px;
  --background: rgb(221, 211, 211);
  color: black;
}
ion-icon{
  color: black;
}
.icono{
  color:rgb(0, 187, 255);
  font-size: 40px;
}
.historial{
  font-size: 50px;
  margin-top: 50px;
  text-align: center;
  border: 5px solid black;
  padding: 5px;
  margin-left: 130px;
  margin-right: 130px;
  background-color: black;
  border-radius: 20px;
  font-weight: bold;
  filter: drop-shadow(2px 2px 2px rgb(0, 187, 255));
}
.tabla-seguridad {
  width: 95%;
  margin: 35px;
  padding: 50px;
}
.tabla-seguridad td {
  border: 3px solid #000000;
  padding: 5px;
  text-align: justify;
  color: black;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
}
.icono-seguridad {
  font-size: 30px;
  margin-right: 20px;
  color: black;
  margin-left: 20px;
}
.encabezado{
  text-align: center;
  font-weight: bold;
}
.buscar {
  border-radius: 10px; /* Ajusta el valor según el radio de borde deseado */
  background-color: transparent; /* Cambia el color de fondo según tus preferencias */
  padding: 5px;
  margin-top: 30px;
  width: 850px;
  align-items: center;
  margin-left: 350px;
}

